*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: #00fffc;
    color: #f4f4f4;
    text-shadow: 1px 1px 3px #010101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

nav{
    display: flex;
}

nav a{
font-size: 1.3rem;
margin: 0 1rem;
color: #f4f4f4;
text-transform: capitalize;
font-family: sans-serif;
}

div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

img{
    width: 50%;
    border-radius: 25%;
}

h1{
    font-size: 4rem;
    font-family: cursive;
}

p{
    font-size: 1.6rem;
    font-family: cursive;
}
